{% extends 'layout.html' %}
{% block content %}
{% load static %}
<header class="row bg-white">
    <div class="col-md-4">
<img src="{% static 'logo.png'%}" alt="" width="150" height="150">
    </div> 
    <div class="col-md-8 my-auto">
    <h1> <strong>Danny ZM</strong></h1>
    <h3> Desde su fundación en 1899, el FC Barcelona ha sido un ícono del fútbol mundial y un orgullo para España. Conocido cariñosamente como "Barça", el club ha dejado una huella imborrable en la historia del deporte.

        Sus trofeos son testigos de su grandeza. El Barcelona ha ganado numerosos títulos nacionales e internacionales, incluyendo La Liga, la Copa del Rey, la Liga de Campeones de la UEFA y más. Entre sus grandes momentos se destacan las gestas de jugadores legendarios como Johan Cruyff, Diego Maradona, Lionel Messi, y muchos otros que han dejado su marca en el campo de juego y en el corazón de los aficionados. </h3>
        <p></p>
    <a href="{% static 'momazo.pdf'%}"class="btn btn-primary btn-lg rounded-0 my-3">Descarga este momazo papuh :v</a>

    <div class="col-md-8">
    <text-align"left"><img src="{% static 'equipo.jpg'%}" alt="" width="500" height="500">
    </div>
</div>

</header>

<div class="row my-4 text-center">
<h3>My Projects</h3>
<p>mis pequeños proyectos.</p>

    {% for project in projects %}

<div class="col-md-3 p-3" >
    <div class="card bg-white card-project">
        <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                <img src="{{project.image.url}}" alt="{{project.title}}"class="card-img-top" >

                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
            {% endif %}
        </div>
    </div>

</div>



{%endfor %}
{% endblock %}
</div>